<form id="changePassword">
<table cellpadding="3" cellspacing="8">
	<tr>
    	<td>
        Tên tài khoản
        </td>
        <td>
        <strong id="user_name_reset">{user_name}</strong>
        </td>
    </tr>
    <tr>
    	<td>
       Mật khẩu mới (*)
        </td>
        <td>
        <input type="password" name="password" id="password">
        </td>
    </tr>
    <tr>
    	<td>
        Xác nhận mật khẩu(*)
        </td>
        <td>
        <input type="password" name="verify_password" id="verify_password">
        </td>
    </tr>
    <tr>
    	<td></td><td><input  type="submit" value="Thay đổi" name="change"/></td>
    </tr>
</table>
</form>
<script>
	$("#changePassword").submit(function(){
		var value = $(this).serialize();
		$.post("ajax.php?fnc=change_password_admin&path=user&cmd=submit&user_id={user_id}",
			value,
			function(data)
			{
				if(data != 1){
					alert(data);
					return false;
				}
				else
				{
					alert('Bạn đã đổi mật khẩu thành công');
					self.parent.tb_remove();
					return false;
				}
			}			
		);	
		return false;
	});

</script>