<div class="nav-item link-map">
    <div class="container">
        <div class="link-map-item">
            <a href="index.html">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <i class="fas fa-chevron-right"></i>
        <div class="link-map-item">
            <a href="{href_cate_parent}">{cate_parent_name}</a>
            <ul class="link-map-menu">
                <!-- BEGIN SubCate -->
                <li class="item">
                    <a class="item-link" href="{cate_href}">
                        {cate_name}
                    </a>
                </li>
                <!-- END SubCate -->
            </ul>
        </div>
        <i class="fas fa-chevron-right"></i>
        <div class="link-map-item">
            <a href="list.html">Tin
                Giáo Hội</a>
            <ul class="link-map-menu">
                <li class="item"><a class="item-link"
                                    href="list.html">Giáo
                    hội Hoàn vũ</a></li>
                <li class="item"><a class="item-link"
                                    href="list.html">Giáo
                    hội Việt Nam</a></li>
                <li class="item"><a class="item-link"
                                    href="list.html">Đức
                    Giáo Hoàng</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="home">
    <div class="container">
        <div class="home-category">
            <div class="left">
                <div class="container-article-2">
                    <div class="container-title">
                        <h1 class="title">Tin Giáo Hội</h1>
                    </div>
                    <div class="box-article">
                        <div class="box-main">
                            <div class="main-article">
                                <div class="img">
                                    <a href="{f_href}"><img src="{f_img}" alt=""/></a>
                                </div>
                                <h3 class="article-title">
                                    <a href="{f_href}">{f_title}</a>
                                </h3>
                                <p class="MsoNormal">{f_description}</p>
                            </div>
                        </div>
                        <div class="scroll-article">
                            <div class="article-list">
                                <div class="article-item">
                                    <div>
                                        <a href="{r1_href}"><img src="{r1_img}" alt=""/></a>
                                        <a href="{r2_href}" class="article-link">{r1_title}</a>
                                    </div>
                                    <div>
                                        <a href="{r2_href}"><img src="{r2_img}" alt=""/></a>
                                        <a href="{r2}" class="article-link">{r1_title}</a>
                                    </div>
                                    <br class="clear"/>
                                    <div>
                                        <a href="{r3_href}"><img src="{r3_img}" alt=""/></a>
                                        <a href="{r3_href}" class="article-link">{r3_title}</a>
                                    </div>
                                    <div>
                                        <a href="{r4_href}"><img src="{r4_img}" alt=""/></a>
                                        <a href="{r4}" class="article-link">{r4_title}</a>
                                    </div>
                                    <br class="clear"/>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="box-list-article">
                        <!-- BEGIN Row -->
                        <div class="item">
                            <div>
                                <div class="img">
                                    <a href="news-detail.html">
                                        <img src="{img_html}" alt=""/>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <h3 class="title">
                                    <a href="{href}">{title}</a>
                                </h3>
                                <p class="text">{description}</p>
                            </div>
                        </div>
                        <!-- END Row -->
                    </div>
                    <div class="clear"></div>
                    <div class="container-btn show-more">
                        {view_more}
                    </div>
                </div>
            </div>
            <div class="right right-category">
                <div class="sticky sticky-category">
                    <div class="container-new-hot">
                        <h4 class="title-c">
                            <i class="fas fa-fire"></i>Tin nổi bật
                        </h4>
                        <div class="article-list">
                            <ul>
                                <li>
                                    <a
                                            href="news-detail.html"
                                            title="Đức Thánh Cha gửi sứ
                                                    điệp video đến Diễn đàn về
                                                    Amoris Laetitia">
                                        <img
                                                src="http://giaophanthaibinh.org/upload/article/125.jpeg?width=100&height=70&quality=100&bgcolor=efefef"
                                                alt="Đức Thánh Cha gửi
                                                        sứ điệp video đến Diễn
                                                        đàn về Amoris Laetitia"
                                        />
                                    </a>
                                    <p>
                                        <a
                                                href="news-detail.html"
                                                title="Đức Thánh Cha gửi
                                                        sứ điệp video đến Diễn
                                                        đàn về Amoris Laetitia">Đức
                                            Thánh Cha gửi sứ điệp
                                            video đến Diễn đàn về
                                            Amoris Laetitia</a>
                                    </p>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <a
                                            href="news-detail.html"
                                            title="Trung tâm Thánh mẫu
                                                    Lộ Đức tái khởi động các
                                                    cuộc hành hương">
                                        <img
                                                src="http://giaophanthaibinh.org/upload/article/113.jpeg?width=100&height=70&quality=100&bgcolor=efefef"
                                                alt="Trung tâm Thánh mẫu
                                                        Lộ Đức tái khởi động các
                                                        cuộc hành hương"/>
                                    </a>
                                    <p>
                                        <a
                                                href="news-detail.html"
                                                title="Trung tâm Thánh
                                                        mẫu Lộ Đức tái khởi động
                                                        các cuộc hành hương">Trung
                                            tâm Thánh mẫu Lộ Đức tái
                                            khởi động các cuộc hành
                                            hương</a>
                                    </p>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <a
                                            href="news-detail.html"
                                            title="ĐTC không nhận đơn từ
                                                    chức của ĐHY Marx, Tổng giám
                                                    mục giáo phận
                                                    Munich-Freising">
                                        <img
                                                src="http://giaophanthaibinh.org/upload/article/111.jpeg?width=100&height=70&quality=100&bgcolor=efefef"
                                                alt="ĐTC không nhận đơn
                                                        từ chức của ĐHY Marx,
                                                        Tổng giám mục giáo phận
                                                        Munich-Freising"/>
                                    </a>
                                    <p>
                                        <a
                                                href="news-detail.html"
                                                title="ĐTC không nhận
                                                        đơn từ chức của ĐHY
                                                        Marx, Tổng giám mục giáo
                                                        phận Munich-Freising">ĐTC
                                            không nhận đơn từ chức
                                            của ĐHY Marx, Tổng giám
                                            mục giáo phận
                                            Munich-Freising</a>
                                    </p>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <a
                                            href="news-detail.html"
                                            title="ĐTC bổ nhiêm Đức Cha
                                                    Lazzaro You Heung-sik, người
                                                    Hàn Quốc, làm Tổng trưởng Bộ
                                                    Giáo sĩ">
                                        <img
                                                src="http://giaophanthaibinh.org/upload/article/cq5dam.thumbnail.cropped.750.4229.jpeg?width=100&height=70&quality=100&bgcolor=efefef"
                                                alt="ĐTC bổ nhiêm Đức
                                                        Cha Lazzaro You
                                                        Heung-sik, người Hàn
                                                        Quốc, làm Tổng trưởng Bộ
                                                        Giáo sĩ"/>
                                    </a>
                                    <p>
                                        <a
                                                href="news-detail.html"
                                                title="ĐTC bổ nhiêm Đức
                                                        Cha Lazzaro You
                                                        Heung-sik, người Hàn
                                                        Quốc, làm Tổng trưởng Bộ
                                                        Giáo sĩ">ĐTC bổ nhiêm
                                            Đức Cha Lazzaro You
                                            Heung-sik, người Hàn
                                            Quốc, làm Tổng trưởng Bộ
                                            Giáo sĩ</a>
                                    </p>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
