<div class="nav-item link-map">
    <div class="container">
        <div class="link-map-item">
            <a href="/">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <i class="fas fa-chevron-right"></i>
        <div class="link-map-item"><a href="{href_cate_parent}">{cate_parent_name}</a>
            <ul class="link-map-menu">
                <!-- BEGIN SubCate -->
                <li class="item">
                    <a class="item-link" href="{cate_href}"></a>
                </li>
                <!-- END SubCate -->
            </ul>
        </div>
        <i class="fas fa-chevron-right"></i>
        <!--
        <div class="link-map-item"><a href="http://giaophanthaibinh.org/tin-giao-hoi/">Tin Giáo Hội</a>
            <ul class="link-map-menu">
                <li class="item"><a class="item-link" href="http://giaophanthaibinh.org/giao-hoi-hoan-vu/">Giáo hội
                    Hoàn vũ</a></li>
                <li class="item"><a class="item-link" href="http://giaophanthaibinh.org/giao-hoi-viet-nam/">Giáo hội
                    Việt Nam</a></li>
                <li class="item"><a class="item-link" href="http://giaophanthaibinh.org/duc-giao-hoang/">Đức Giáo
                    Hoàng</a></li>
            </ul>
        </div>
        -->
    </div>
</div>
<div class="news">
    <div class="container">
        <div class="left">
            <div class="article-detail">
                <div style="float: left; margin: 10px 0">
                    <span style="float: left; margin-top: 5px; font-style: italic">Chia sẻ:</span>&nbsp;
                    <a target="_blank"
                       href="https://www.facebook.com/dialog/share?app_id=2970904379879874&display=popup&href={link_detail}">
                        <img style="width: 32px !important; height: 32px !important" src="images/facebook.png"/>
                    </a>
                </div>
                <div class="info">
                    <span class="time"><i class="fad fa-calendar-edit"></i>{time_public}</span>

                </div>
                <div class="clear"></div>
                <h1 class="article-title">{title}</h1>
                <div class="content">
                    <p class="MsoNormal">{description}</p>
                    {content}
                </div>
                <div style="float: right">
                    <span style="float: left; margin-top: 5px; font-style: italic">Chia sẻ:</span>&nbsp;
                    <a target="_blank"
                       href="https://www.facebook.com/dialog/share?app_id=2970904379879874&display=popup&href={link_detail}">
                        <img style="width: 32px !important; height: 32px !important"
                             src="/themes/img/facebook-icon.png"/>
                    </a>
                </div>
                <div class="clear"></div>
                <div class="container-article-2">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="sticky sticky-detail">

                <div class="container-new-hot">
                    <h4 class="title-c">
                        <i class="fas fa-fire"></i>Tin cùng chuyên mục
                    </h4>
                    <div class="article-list">
                        <ul>
                            <!-- BEGIN SameCate -->
                            <li>
                                <a href="{href}" title="">
                                    <img src="{img}" alt=""/>
                                </a>
                                <p>
                                    <a href="{href}" title="">{title}</a>
                                </p>
                                <div class="clear"></div>
                            </li>
                            <!-- END SameCate -->
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{link_detail}"
        },
        "headline": "{title}",
        "description": "{description}",
        "image": "{img}",
        "author": {
            "@type": "Organization",
            "name": "Giáo Phận Thái Bình"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Giáo Phận Thái Bình",
            "logo": {
                "@type": "ImageObject",
                "url": "images/logo.png"
            }
        },
        "datePublished": "{time_public}",
        "dateModified": "{time_public}"
    }
</script>
<div class="clear"></div>