<div class="nav-item link-map">
    <div class="container">
        <div class="link-map-item">
            <a href="index.html">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <i class="fas fa-chevron-right"></i>
        <div class="link-map-item"><a href="list.html">Tin tức</a>
            <ul class="link-map-menu">
                <li class="item"><a class="item-link" href="http://giaophanthaibinh.org/tin-giao-phan/">Tin Giáo
                    Phận</a></li>
                <li class="item"><a class="item-link" href="http://giaophanthaibinh.org/tin-giao-hoi/">Tin Giáo
                    Hội</a></li>
            </ul>
        </div>
        <i class="fas fa-chevron-right"></i>
        <div class="link-map-item"><a href="http://giaophanthaibinh.org/tin-giao-hoi/">Tin Giáo Hội</a>
            <ul class="link-map-menu">
                <li class="item"><a class="item-link" href="http://giaophanthaibinh.org/giao-hoi-hoan-vu/">Giáo hội
                    Hoàn vũ</a></li>
                <li class="item"><a class="item-link" href="http://giaophanthaibinh.org/giao-hoi-viet-nam/">Giáo hội
                    Việt Nam</a></li>
                <li class="item"><a class="item-link" href="http://giaophanthaibinh.org/duc-giao-hoang/">Đức Giáo
                    Hoàng</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="news">
    <div class="container">
        <div class="left">
            <div class="article-detail">

                <div style="float: left; margin: 10px 0">
                    <span style="float: left; margin-top: 5px; font-style: italic">Chia sẻ:</span>&nbsp;
                    <a target="_blank"
                       href="https://www.facebook.com/dialog/share?app_id=2970904379879874&display=popup&href=http://giaophanthaibinh.org/nhung-loi-sau-cung-cua-duc-nguyen-giao-hoang-bien-duc-“lay-chua-con-yeu-men-chua-”.html"><img
                            style="width: 32px !important; height: 32px !important" src="images/facebook.png"/></a>
                </div>

                <div class="info">
                    <span class="time"><i class="fad fa-calendar-edit"></i>03/01/2023 20:25</span>

                </div>
                <div class="clear"></div>
                <h1 class="article-title">Những lời sau cùng của Đức nguyên Giáo hoàng Biển Đức: “Lạy Chúa con yêu
                    mến Chúa!”
                </h1>
                <div class="content">
                    <p class="MsoNormal">Đức Tổng Gi&aacute;m Mục Georg G&auml;nswein, Thư k&yacute; ri&ecirc;ng của
                        Đức nguy&ecirc;n Gi&aacute;o ho&agrave;ng Biển Đức XVI cho biết, những lời sau c&ugrave;ng
                        của Đức nguy&ecirc;n Gi&aacute;o ho&agrave;ng Biển Đức l&agrave; &ldquo;Lạy Ch&uacute;a con
                        y&ecirc;u mến Ch&uacute;a!&rdquo;.</p>

                    <p>
                    <p class="MsoNormal"><img src="/upload/images/2023/1/3/mceu_78525382411672752348125.jpg"/></p>
                    <p class="MsoNormal">Theo Đức Tổng Gi&aacute;m Mục, v&agrave;o khoảng 3 giờ s&aacute;ng ng&agrave;y&nbsp;31/12/2022,
                        v&agrave;i giờ trước khi qua đời, c&aacute;c y t&aacute; v&agrave; những người phục vụ kh&aacute;c
                        thay phi&ecirc;n nhau chăm s&oacute;c Đức Biển Đức. Khi đ&oacute; Đức Tổng Gi&aacute;m Mục
                        kh&ocirc;ng c&oacute; ở đ&oacute;, v&agrave; chỉ c&oacute; một y t&aacute; kh&ocirc;ng n&oacute;i
                        được tiếng Đức ở với ng&agrave;i. Đức Gi&aacute;o ho&agrave;ng n&oacute;i rất nhỏ th&igrave;
                        thầm nhưng c&oacute; thể hiểu được, ng&agrave;i n&oacute;i bằng tiếng &Yacute; &ldquo;Lạy Ch&uacute;a
                        con y&ecirc;u mến Ch&uacute;a!&rdquo;. Ch&iacute;nh y t&aacute; n&agrave;y sau đ&oacute; đ&atilde;
                        cho Đức Tổng Gi&aacute;m Mục G&auml;nswein biết đ&oacute; l&agrave; những lời sau c&ugrave;ng
                        của Đức Gi&aacute;o ho&agrave;ng c&oacute; thể hiểu được, bởi v&igrave; sau đ&oacute; ng&agrave;i
                        đi v&agrave;o giờ hấp hối v&agrave; kh&ocirc;ng n&oacute;i th&ecirc;m lời n&agrave;o
                        nữa.</p>
                    <p class="MsoNormal">Về những lời n&agrave;y, &ocirc;ng Andrea Tornielli, Tổng Bi&ecirc;n tập
                        Vatican News cho rằng &ldquo;Lạy Ch&uacute;a con y&ecirc;u mến Ch&uacute;a!&rdquo;, gần như
                        l&agrave; một tổng hợp về cuộc đời của Đức Biển Đức. Trong những năm qua ng&agrave;i đ&atilde;
                        chuẩn bị cho cuộc gặp gỡ diện đối diện với Đấng Tạo Ho&aacute;. V&agrave;o ng&agrave;y&nbsp;28/6/2016,
                        kỷ niệm 65 năm linh mục của vị tiền nhiệm, Đức Th&aacute;nh Cha Phanxic&ocirc; muốn nhấn
                        mạnh đến &ldquo;điểm cốt l&otilde;i&rdquo; đ&aacute;nh dấu lịch sử d&agrave;i ơn gọi linh
                        mục của Đức Biển Đức XVI n&ecirc;n đ&atilde; thưa với Đức Biển Đức rằng: &ldquo;Một trong
                        những đoạn viết thật hay về chức linh mục, ng&agrave;i đ&atilde; nhấn mạnh rằng, khi gọi
                        Simon một c&aacute;ch dứt kho&aacute;t, Ch&uacute;a Gi&ecirc;su đ&atilde; nh&igrave;n
                        &ocirc;ng v&agrave; chỉ hỏi một điều duy nhất: Con c&oacute; y&ecirc;u mến Thầy kh&ocirc;ng?
                        Những lời n&agrave;y thật đẹp v&agrave; đ&uacute;ng. Bởi v&igrave; ngay tại đ&acirc;y, khi
                        ng&agrave;i tiếp tục n&oacute;i với ch&uacute;ng con về điều &lsquo;Con c&oacute; y&ecirc;u
                        mến Thầy kh&ocirc;ng?&rsquo; th&igrave; Ch&uacute;a thiết lập &yacute; nghĩa thực sự của
                        việc chăn dắt đo&agrave;n chi&ecirc;n, bởi v&igrave; chỉ qua t&igrave;nh y&ecirc;u d&agrave;nh
                        cho Ch&uacute;a, Ch&uacute;a c&oacute; thể chăn dắt đo&agrave;n chi&ecirc;n ngang qua ch&uacute;ng
                        con: &lsquo;Lạy Ch&uacute;a, Ch&uacute;a biết mọi sự, Ch&uacute;a biết con y&ecirc;u mến Ch&uacute;a&rdquo;.</p>
                    <p class="MsoNormal">Đức Th&aacute;nh Cha n&oacute;i th&ecirc;m rằng, đ&acirc;y l&agrave; đặc
                        điểm nổi bật trong suốt cuộc đời linh mục v&agrave; thần học của Đức Biển Đức. Đối với Đức
                        nguy&ecirc;n Gi&aacute;o ho&agrave;ng đ&acirc;y kh&ocirc;ng phải l&agrave; điều ngẫu nhi&ecirc;n,
                        nhưng l&agrave; điều ng&agrave;i lu&ocirc;n l&agrave;m chứng v&agrave; tiếp tục l&agrave;m
                        chứng cho đến h&ocirc;m nay.</p>
                    <p class="MsoNormal" style="text-align: right;"><strong>Vatican News</strong></p>
                    <p class="MsoNormal" style="text-align: right;">https://www.vaticannews.va/vi&nbsp;</p>
                    </p>
                </div>


                <div style="float: right">
                    <span style="float: left; margin-top: 5px; font-style: italic">Chia sẻ:</span>&nbsp;
                    <a target="_blank"
                       href="https://www.facebook.com/dialog/share?app_id=2970904379879874&display=popup&href=http://giaophanthaibinh.org/nhung-loi-sau-cung-cua-duc-nguyen-giao-hoang-bien-duc-“lay-chua-con-yeu-men-chua-”.html"><img
                            style="width: 32px !important; height: 32px !important"
                            src="/themes/img/facebook-icon.png"/></a>
                </div>
                <div class="clear"></div>
                <div class="container-article-2">

                </div>
            </div>
        </div>

        <div class="right">
            <div class="sticky sticky-detail">

                <div class="container-new-hot">
                    <h4 class="title-c">
                        <i class="fas fa-fire"></i>Tin cùng chuyên mục
                    </h4>
                    <div class="article-list">
                        <ul>

                            <li>
                                <a href="news-detail.html"
                                   title="Đức TGM Georg: Sống và rao giảng đức tin vào Thiên Chúa là điều quan trọng nhất nơi Đức Biển Đức">
                                    <img src="http://giaophanthaibinh.org/upload/article/duc-tgm-georg-song-va-rao-giang-duc-tin-vao-thien-chua-la-dieu-quan-trong-nhat-noi-duc-bien-duc.jpeg?width=100&height=70&quality=100&bgcolor=efefef"
                                         alt="Đức TGM Georg: Sống và rao giảng đức tin vào Thiên Chúa là điều quan trọng nhất nơi Đức Biển Đức"/>
                                </a>
                                <p>
                                    <a href="news-detail.html"
                                       title="Đức TGM Georg: Sống và rao giảng đức tin vào Thiên Chúa là điều quan trọng nhất nơi Đức Biển Đức">Đức
                                        TGM Georg: Sống và rao giảng đức tin vào Thiên Chúa là điều quan trọng nhất
                                        nơi Đức Biển Đức</a>
                                </p>
                                <div class="clear"></div>
                            </li>

                            <li>
                                <a href="news-detail.html"
                                   title="Hàng ngàn tín hữu ở Roma và khắp nơi trên thế giới đến kính viếng Đức Biển Đức">
                                    <img src="http://giaophanthaibinh.org/upload/article/hang-ngan-tin-huu-o-roma-va-khap-noi-tren-the-gioi-den-kinh-vieng-duc-bien-duc.jpeg?width=100&height=70&quality=100&bgcolor=efefef"
                                         alt="Hàng ngàn tín hữu ở Roma và khắp nơi trên thế giới đến kính viếng Đức Biển Đức"/>
                                </a>
                                <p>
                                    <a href="news-detail.html"
                                       title="Hàng ngàn tín hữu ở Roma và khắp nơi trên thế giới đến kính viếng Đức Biển Đức">Hàng
                                        ngàn tín hữu ở Roma và khắp nơi trên thế giới đến kính viếng Đức Biển
                                        Đức</a>
                                </p>
                                <div class="clear"></div>
                            </li>

                            <li>
                                <a href="news-detail.html"
                                   title="Di hài của Đức nguyên Giáo hoàng Biển Đức đã được đặt trong đền thờ thánh Phêrô">
                                    <img src="http://giaophanthaibinh.org/upload/article/di-hai-cua-duc-nguyen-giao-hoang-bien-duc-da-duoc-dat-trong-den-tho-thanh-phero.jpg?width=100&height=70&quality=100&bgcolor=efefef"
                                         alt="Di hài của Đức nguyên Giáo hoàng Biển Đức đã được đặt trong đền thờ thánh Phêrô"/>
                                </a>
                                <p>
                                    <a href="news-detail.html"
                                       title="Di hài của Đức nguyên Giáo hoàng Biển Đức đã được đặt trong đền thờ thánh Phêrô">Di
                                        hài của Đức nguyên Giáo hoàng Biển Đức đã được đặt trong đền thờ thánh
                                        Phêrô</a>
                                </p>
                                <div class="clear"></div>
                            </li>

                            <li>
                                <a href="news-detail.html"
                                   title="Tưởng nhớ và cầu nguyện: Đức Nguyên Giáo hoàng Biển Đức XVI">
                                    <img src="http://giaophanthaibinh.org/upload/article/tuong-nho-va-cau-nguyen-duc-nguyen-giao-hoang-bien-duc-xvi.jpg?width=100&height=70&quality=100&bgcolor=efefef"
                                         alt="Tưởng nhớ và cầu nguyện: Đức Nguyên Giáo hoàng Biển Đức XVI"/>
                                </a>
                                <p>
                                    <a href="news-detail.html"
                                       title="Tưởng nhớ và cầu nguyện: Đức Nguyên Giáo hoàng Biển Đức XVI">Tưởng nhớ
                                        và cầu nguyện: Đức Nguyên Giáo hoàng Biển Đức XVI</a>
                                </p>
                                <div class="clear"></div>
                            </li>

                            <li>
                                <a href="news-detail.html"
                                   title="Hội đồng Giám mục Việt Nam thông báo cầu nguyện cho Đức Thánh Cha Bênêđictô XVI">
                                    <img src="http://giaophanthaibinh.org/upload/article/hoi-dong-giam-muc-viet-nam-thong-bao-cau-nguyen-cho-duc-thanh-cha-benedicto-xvi.jpg?width=100&height=70&quality=100&bgcolor=efefef"
                                         alt="Hội đồng Giám mục Việt Nam thông báo cầu nguyện cho Đức Thánh Cha Bênêđictô XVI"/>
                                </a>
                                <p>
                                    <a href="news-detail.html"
                                       title="Hội đồng Giám mục Việt Nam thông báo cầu nguyện cho Đức Thánh Cha Bênêđictô XVI">Hội
                                        đồng Giám mục Việt Nam thông báo cầu nguyện cho Đức Thánh Cha Bênêđictô
                                        XVI</a>
                                </p>
                                <div class="clear"></div>
                            </li>

                            <li>
                                <a href="news-detail.html"
                                   title="Chúc thư tinh thần của Đức nguyên Giáo hoàng Biển Đức XVI">
                                    <img src="http://giaophanthaibinh.org/upload/article/chuc-thu-tinh-than-cua-duc-nguyen-giao-hoang-bien-duc-xvi.jpeg?width=100&height=70&quality=100&bgcolor=efefef"
                                         alt="Chúc thư tinh thần của Đức nguyên Giáo hoàng Biển Đức XVI"/>
                                </a>
                                <p>
                                    <a href="news-detail.html"
                                       title="Chúc thư tinh thần của Đức nguyên Giáo hoàng Biển Đức XVI">Chúc thư
                                        tinh thần của Đức nguyên Giáo hoàng Biển Đức XVI</a>
                                </p>
                                <div class="clear"></div>
                            </li>

                            <li>
                                <a href="news-detail.html"
                                   title="Đức Biển Đức XVI, người thợ khiêm nhường trong vườn nho của Chúa, đã về nhà Cha">
                                    <img src="http://giaophanthaibinh.org/upload/article/duc-bien-duc-xvi-nguoi-tho-khiem-nhuong-trong-vuon-nho-cua-chua-da-ve-nha-cha.jpeg?width=100&height=70&quality=100&bgcolor=efefef"
                                         alt="Đức Biển Đức XVI, người thợ khiêm nhường trong vườn nho của Chúa, đã về nhà Cha"/>
                                </a>
                                <p>
                                    <a href="news-detail.html"
                                       title="Đức Biển Đức XVI, người thợ khiêm nhường trong vườn nho của Chúa, đã về nhà Cha">Đức
                                        Biển Đức XVI, người thợ khiêm nhường trong vườn nho của Chúa, đã về nhà
                                        Cha</a>
                                </p>
                                <div class="clear"></div>
                            </li>

                            <li>
                                <a href="news-detail.html"
                                   title="Thông tin họp báo sáng 31/12 - Đức Biển Đức XVI qua đời">
                                    <img src="http://giaophanthaibinh.org/upload/article/_4522.jpeg?width=100&height=70&quality=100&bgcolor=efefef"
                                         alt="Thông tin họp báo sáng 31/12 - Đức Biển Đức XVI qua đời"/>
                                </a>
                                <p>
                                    <a href="news-detail.html"
                                       title="Thông tin họp báo sáng 31/12 - Đức Biển Đức XVI qua đời">Thông tin họp
                                        báo sáng 31/12 - Đức Biển Đức XVI qua đời</a>
                                </p>
                                <div class="clear"></div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
<div class="clear"></div>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "http://giaophanthaibinh.org/nhung-loi-sau-cung-cua-duc-nguyen-giao-hoang-bien-duc-“lay-chua-con-yeu-men-chua-”.html"
        },
        "headline": "Những lời sau cùng của Đức nguyên Giáo hoàng Biển Đức: “Lạy Chúa con yêu mến Chúa!”",
        "description": "Những lời sau cùng của Đức nguyên Giáo hoàng Biển Đức: “Lạy Chúa con yêu mến Chúa!”, ",
        "image": "http://giaophanthaibinh.org/upload/article/nhung-loi-sau-cung-cua-duc-nguyen-giao-hoang-bien-duc-“lay-chua-con-yeu-men-chua-”.jpeg",
        "author": {
            "@type": "Organization",
            "name": "Giáo Phận Thái Bình"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Giáo Phận Thái Bình",
            "logo": {
                "@type": "ImageObject",
                "url": "images/logo.png"
            }
        },
        "datePublished": "2023-01-03",
        "dateModified": "2023-01-03"
    }
</script>
<div class="clear"></div>