<div class="clear"></div>
<footer>
    <div class="container">
        <p><strong>T&ograve;a Gi&aacute;m Mục Th&aacute;i B&igrave;nh</strong></p>
        <p>Số 6, Trần Hưng Đạo, Tp.Th&aacute;i B&igrave;nh, tỉnh Th&aacute;i B&igrave;nh</p>
        <p><a href="tel:+84(0)%C2%A0227%C2%A03 831 361">ĐT: +84 (0) 227 3 831 361</a>;&nbsp;<a
                href="mailto:bantruyenthonggptb@gmail.com">Email: bantruyenthonggptb@gmail.com</a></p>
        <div style="text-align: center">
            <ul class="social-bar social-bottom-bar">
                <li>
                    <a target="_blank" href="https://www.facebook.com/gpthaibinh"><img
                            src="http://giaophanthaibinh.org/themes/img/facebook.png"/></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.youtube.com/@giaophanthaibinh1936"><img
                            src="http://giaophanthaibinh.org/themes/img/youtube.png"/></a>
                </li>
            </ul>
        </div>
    </div>
    <h6 class="info-ft text-center mt-4 d-block">Copyright © 2021. All rights reserved.
    </h6>
</footer>
<button class="backtop"><i class="fa fa-chevron-up"></i></button>