<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
<nav class="top">
    <div class="container">
        <a href="/">
            <img alt="Giáo Phận Thái Bình" src="webskins/skins/news/images/logo.png"/>
        </a>
    </div>
</nav>
<header>
    <nav>
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="logosidebar" alt="Giáo Phận Thái Bình" src="webskins/skins/news/images/logo.png"/>
            </a>
            <ul id="main_menu" class="d-none d-lg-block">
                <li><a href="/">
                    <i class="fas fa-home"></i>
                </a></li>
                <li class="hassub"><a href="list.html" title="Gp Thái Bình">Gp Thái Bình</a>
                    <ul class="sub_menu">
                        <li class="hassub"><a href="list.html" title="Giới thiệu chung (đang cập nhật)">Giới thiệu chung
                            (đang cập nhật)</a>

                            <ul class="sub_menu">

                                <li><a href="list.html" title="Lược sử">Lược sử</a></li>

                                <li><a href="list.html" title="Các cơ sở Gp.">Các cơ sở Gp.</a></li>

                                <li><a href="list.html" title="Chỉ Nam">Chỉ Nam</a></li>

                                <li><a href="list.html" title="Khối ban ngành">Khối ban ngành</a></li>

                            </ul>
                        </li>
                        <li><a href="list.html" title="Các thánh tử đạo GPTB">Các thánh tử đạo GPTB</a>
                        </li>
                        <li class="hassub"><a href="list.html" title="Giáo Hạt - Giáo xứ">Giáo Hạt - Giáo xứ</a>

                            <ul class="sub_menu">

                                <li><a href="list.html" title="Giáo hạt Bắc Tiền Hải">Giáo hạt Bắc Tiền Hải</a></li>

                                <li><a href="list.html" title="Giáo hạt Đông Hưng">Giáo hạt Đông Hưng</a></li>

                                <li><a href="list.html" title="Giáo hạt Đông Hưng Yên">Giáo hạt Đông Hưng Yên</a></li>

                                <li><a href="list.html" title="Giáo hạt Kiến Xương">Giáo hạt Kiến Xương</a></li>

                                <li><a href="list.html" title="Giáo hạt Nam Tiền Hải">Giáo hạt Nam Tiền Hải</a></li>

                                <li><a href="list.html/" title="Giáo hạt Tây Hưng Yên">Giáo hạt Tây Hưng Yên</a></li>

                                <li><a href="list.html" title="Giáo hạt Thái Thụy">Giáo hạt Thái Thụy</a></li>

                                <li><a href="list.html" title="Giáo hạt Thành Phố">Giáo hạt Thành Phố</a></li>

                            </ul>
                        </li>
                        <li class="hassub"><a href="list.html" title="Lòng Chúa Thương Xót">Lòng Chúa Thương Xót</a>

                            <ul class="sub_menu">

                                <li><a href="list.html" title="Gia đình Khuyết tật LCTX TB">Gia đình Khuyết tật LCTX
                                    TB</a></li>

                                <li><a href="list.html" title="Trung tâm LCTX-GPTB">Trung tâm LCTX-GPTB</a></li>

                            </ul>
                        </li>
                        <li><a href="hlist.html" title="Đức Giám mục">Đức Giám mục</a>
                        </li>
                        <li class="hassub"><a href="list.html" title="Linh Mục Giáo Phận">Linh Mục Giáo Phận</a>

                            <ul class="sub_menu">

                                <li><a href="news-detail.html" title="Linh mục đương nhiệm">Linh mục đương nhiệm</a>
                                </li>

                                <li><a href="news-detail.html" title="Linh mục nghỉ hưu">Linh mục nghỉ hưu</a></li>

                                <li><a href="news-detail.html" title="Linh mục qua đời">Linh mục qua đời</a></li>

                            </ul>
                        </li>
                        <li class="hassub"><a href="list.html" title="Ơn gọi">Ơn gọi</a>

                            <ul class="sub_menu">

                                <li><a href="list.html" title="Chủng sinh">Chủng sinh</a></li>

                                <li><a href="list.html" title="Tu sinh">Tu sinh</a></li>

                                <li><a href="list.html" title="Dự tu">Dự tu</a></li>

                            </ul>
                        </li>
                        <li class="hassub"><a href="http://giaophanthaibinh.org/dcv-thanh-tam/" title="Chủng viện">Chủng
                            viện</a>

                            <ul class="sub_menu">

                                <li><a href="list.html" title="Lược sử Chủng viện">Lược sử Chủng viện</a></li>

                                <li><a href="list.html" title="Sinh hoạt Chủng viện">Sinh hoạt Chủng viện</a></li>

                                <li><a href="list.html" title="Xây dựng ĐCV Thánh Tâm">Xây dựng ĐCV Thánh Tâm</a></li>

                            </ul>
                        </li>
                        <li class="hassub"><a href="list.html" title="Dòng tu">Dòng tu</a>

                            <ul class="sub_menu">

                                <li><a href="list.html" title="Các Hội Dòng">Các Hội Dòng</a></li>

                                <li><a href="list.html" title="Sinh hoạt Dòng tu">Sinh hoạt Dòng tu</a></li>

                            </ul>
                        </li>
                        <li class="hassub"><a href="http://giaophanthaibinh.org/hoi-doan/" title="Hội đoàn">Hội đoàn</a>

                            <ul class="sub_menu">

                                <li><a href="list.html" title="Giới trẻ, Sinh viên">Giới trẻ, Sinh viên</a></li>

                                <li><a href="list.html" title="Hôn Nhân - Gia Đình">Hôn Nhân - Gia Đình</a></li>

                                <li><a href="list.html" title="Hội LTX">Hội LTX</a></li>

                                <li><a href="list.html" title="Thiếu Nhi Thánh Thể">Thiếu Nhi Thánh Thể</a></li>

                            </ul>
                        </li>
                    </ul>

                </li>

                <li class="hassub"><a href="list.html" title="Phụng vụ">Phụng vụ</a>

                    <ul class="sub_menu">
                        <li><a href="list.html" title="Các thánh">Các thánh</a>
                        </li>
                        <li><a href="list.html" title="Lịch Phụng vụ">Lịch Phụng vụ</a>
                        </li>
                        <li><a href="list.html" title="Trực tuyến Thánh Lễ">Trực tuyến Thánh Lễ</a>
                        </li>
                        <li class="hassub"><a href="list.html" title="Dẫn lễ - Lời nguyện">Dẫn lễ - Lời nguyện</a>

                            <ul class="sub_menu">

                                <li><a href="list.html" title="Mùa Vọng - Giáng Sinh">Mùa Vọng - Giáng Sinh</a></li>

                                <li><a href="list.html" title="Mùa Chay - Phục Sinh">Mùa Chay - Phục Sinh</a></li>

                                <li><a href="list.html" title="Mùa Thường Niên">Mùa Thường Niên</a></li>

                                <li><a href="list.html" title="Ngoại Lịch">Ngoại Lịch</a></li>

                            </ul>
                        </li>
                    </ul>

                </li>

                <li class="hassub"><a href="list.html" title="Tin tức">Tin tức</a>

                    <ul class="sub_menu">
                        <li class="hassub"><a href="list.html" title="Tin Giáo Phận">Tin Giáo Phận</a>

                            <ul class="sub_menu">

                                <li><a href="list.html" title="Mục vụ">Mục vụ</a></li>

                                <li><a href="list.html" title="Các sinh hoạt khác">Các sinh hoạt khác</a></li>

                            </ul>
                        </li>
                        <li><a href="list.html" title="Tin Giáo Hội">Tin Giáo Hội</a>
                        </li>
                    </ul>

                </li>

                <li class="hassub"><a href="list.html" title="Hiệp Thông">Hiệp Thông</a>

                    <ul class="sub_menu">
                        <li><a href="list.html" title="Thông báo">Thông báo</a>
                        </li>
                        <li><a href="list.html" title="Cáo phó">Cáo phó</a>
                        </li>
                    </ul>

                </li>

                <li class="hassub"><a href="list.html" title="Giáo lý">Giáo lý</a>

                    <ul class="sub_menu">
                        <li><a href="list.html" title="Sinh hoạt Giáo lý">Sinh hoạt Giáo lý</a>
                        </li>
                    </ul>

                </li>

                <li class="hassub"><a href="list.html" title="Tài Liệu">Tài Liệu</a>

                    <ul class="sub_menu">
                        <li><a href="list.html" title="Phụng vụ">Phụng vụ</a>
                        </li>
                        <li><a href="list.html" title="Diễn nguyện Giáng Sinh">Diễn nguyện Giáng Sinh</a>
                        </li>
                    </ul>

                </li>

                <li class="hassub"><a href="list.html" title="Bác ái xã hội">Bác ái xã hội</a>

                    <ul class="sub_menu">
                        <li><a href="list.html" title="Giới thiệu Caritas">Giới thiệu Caritas</a>
                        </li>
                        <li><a href="list.html" title="Quy chế">Quy chế</a>
                        </li>
                        <li><a href="list.html" title="Các hoạt động">Các hoạt động</a>
                        </li>
                        <li><a href="list.html" title="Hội viên">Hội viên</a>
                        </li>
                    </ul>

                </li>

                <li class="hassub"><a href="list.html" title="Phút Suy tư">Phút Suy tư</a>

                    <ul class="sub_menu">
                        <li><a href="list.html" title="Lẽ Sống">Lẽ Sống</a>
                        </li>
                        <li><a href="list.html" title="Sống đẹp">Sống đẹp</a>
                        </li>
                        <li><a href="list.html" title="Nghĩa cử yêu thương">Nghĩa cử yêu thương</a>
                        </li>
                    </ul>

                </li>

                <li><a href="javascript:;" class="btn-open-search"><i class="fa fa-search"></i></a></li>
            </ul>
            <nav class="navbar nav-mobile navbar-expand-lg navbar-light">

                <label for="navbar-toggler" class="navbar-toggler ml-auto">
                    <i class="fas fa-bars"></i>
                </label>
                <a href="javascript:;" class="btn-open-search"><i class="fa fa-search"></i></a>

                <input type="checkbox" class="navbar-input" name="" id="navbar-toggler">
                <label for="navbar-toggler" class="overlay"></label>
                <div class="navbar-toggler-mobile pt-3 pl-2">
                    <div class="container-logo">

                        <label for="navbar-toggler" class="close">
                            <i class="fa fa-times" aria-hidden="true"></i>Đóng Menu
                        </label>
                    </div>
                    <div class="cl-f" style="clear: left;">
                    </div>
                    <ul class="m-2 nav-list">

                        <li class="nav-item-mobile"><a class="nav-link" href="index.html" title="Gp Thái Bình">Gp Thái
                            Bình</a>

                            <label for="sub-menu-toggler1" class="add"><i class="fa fa-angle-right"
                                                                          aria-hidden="true"></i></label>

                            <div class="box-sub-menu">
                                <div class="title-menu">
                                    <h3 class="title"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Gp Thái
                                        Bình</h3>
                                </div>

                                <ul class="sub-menu">

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Giới thiệu chung (đang cập nhật)
                                        </a>


                                        <label for="sub-menu-toggler1" class="add">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </label>

                                        <div class="box-sub-menu">
                                            <div class="title-menu">
                                                <h3 class="title"><i class="fa fa-arrow-circle-left"
                                                                     aria-hidden="true"></i>Giới thiệu chung (đang cập
                                                    nhật)</h3>

                                            </div>
                                            <ul class="sub-menu">

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Lược sử">Lược sử</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Các cơ sở Gp.">Các cơ sở Gp.</a>
                                                </li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Chỉ Nam">Chỉ Nam</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Khối ban ngành">Khối ban ngành</a>
                                                </li>

                                            </ul>
                                        </div>

                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Các thánh tử đạo GPTB
                                        </a>


                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Giáo Hạt - Giáo xứ
                                        </a>


                                        <label for="sub-menu-toggler1" class="add">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </label>

                                        <div class="box-sub-menu">
                                            <div class="title-menu">
                                                <h3 class="title"><i class="fa fa-arrow-circle-left"
                                                                     aria-hidden="true"></i>Giáo Hạt - Giáo xứ</h3>

                                            </div>
                                            <ul class="sub-menu">

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Giáo hạt Bắc Tiền Hải">Giáo hạt Bắc
                                                    Tiền Hải</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Giáo hạt Đông Hưng">Giáo hạt Đông
                                                    Hưng</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Giáo hạt Đông Hưng Yên">Giáo hạt
                                                    Đông Hưng Yên</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Giáo hạt Kiến Xương">Giáo hạt Kiến
                                                    Xương</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Giáo hạt Nam Tiền Hải">Giáo hạt Nam
                                                    Tiền Hải</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Giáo hạt Tây Hưng Yên">Giáo hạt Tây
                                                    Hưng Yên</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Giáo hạt Thái Thụy">Giáo hạt Thái
                                                    Thụy</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Giáo hạt Thành Phố">Giáo hạt Thành
                                                    Phố</a></li>

                                            </ul>
                                        </div>

                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Lòng Chúa Thương Xót
                                        </a>


                                        <label for="sub-menu-toggler1" class="add">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </label>

                                        <div class="box-sub-menu">
                                            <div class="title-menu">
                                                <h3 class="title"><i class="fa fa-arrow-circle-left"
                                                                     aria-hidden="true"></i>Lòng Chúa Thương Xót</h3>

                                            </div>
                                            <ul class="sub-menu">

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Gia đình Khuyết tật LCTX TB">Gia
                                                    đình Khuyết tật LCTX TB</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Trung tâm LCTX-GPTB">Trung tâm
                                                    LCTX-GPTB</a></li>

                                            </ul>
                                        </div>

                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Đức Giám mục
                                        </a>


                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Linh Mục Giáo Phận
                                        </a>


                                        <label for="sub-menu-toggler1" class="add">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </label>

                                        <div class="box-sub-menu">
                                            <div class="title-menu">
                                                <h3 class="title"><i class="fa fa-arrow-circle-left"
                                                                     aria-hidden="true"></i>Linh Mục Giáo Phận</h3>

                                            </div>
                                            <ul class="sub-menu">

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Linh mục đương nhiệm">Linh mục đương
                                                    nhiệm</a></li>

                                                <li class="sub-menu-item"><a class="category-item"
                                                                             href="news-detail.html"
                                                                             title="Linh mục nghỉ hưu">Linh mục nghỉ
                                                    hưu</a></li>

                                                <li class="sub-menu-item"><a class="category-item"
                                                                             href="news-detail.html"
                                                                             title="Linh mục qua đời">Linh mục qua
                                                    đời</a></li>

                                            </ul>
                                        </div>

                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Ơn gọi
                                        </a>


                                        <label for="sub-menu-toggler1" class="add">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </label>

                                        <div class="box-sub-menu">
                                            <div class="title-menu">
                                                <h3 class="title"><i class="fa fa-arrow-circle-left"
                                                                     aria-hidden="true"></i>Ơn gọi</h3>

                                            </div>
                                            <ul class="sub-menu">

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Chủng sinh">Chủng sinh</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Tu sinh">Tu sinh</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Dự tu">Dự tu</a></li>

                                            </ul>
                                        </div>

                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Chủng viện
                                        </a>


                                        <label for="sub-menu-toggler1" class="add">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </label>

                                        <div class="box-sub-menu">
                                            <div class="title-menu">
                                                <h3 class="title"><i class="fa fa-arrow-circle-left"
                                                                     aria-hidden="true"></i>Chủng viện</h3>

                                            </div>
                                            <ul class="sub-menu">

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Lược sử Chủng viện">Lược sử Chủng
                                                    viện</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Sinh hoạt Chủng viện">Sinh hoạt
                                                    Chủng viện</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Xây dựng ĐCV Thánh Tâm">Xây dựng ĐCV
                                                    Thánh Tâm</a></li>

                                            </ul>
                                        </div>

                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Dòng tu
                                        </a>


                                        <label for="sub-menu-toggler1" class="add">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </label>

                                        <div class="box-sub-menu">
                                            <div class="title-menu">
                                                <h3 class="title"><i class="fa fa-arrow-circle-left"
                                                                     aria-hidden="true"></i>Dòng tu</h3>

                                            </div>
                                            <ul class="sub-menu">

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Các Hội Dòng">Các Hội Dòng</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Sinh hoạt Dòng tu">Sinh hoạt Dòng
                                                    tu</a></li>

                                            </ul>
                                        </div>

                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Hội đoàn
                                        </a>


                                        <label for="sub-menu-toggler1" class="add">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </label>

                                        <div class="box-sub-menu">
                                            <div class="title-menu">
                                                <h3 class="title"><i class="fa fa-arrow-circle-left"
                                                                     aria-hidden="true"></i>Hội đoàn</h3>

                                            </div>
                                            <ul class="sub-menu">

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Giới trẻ, Sinh viên">Giới trẻ, Sinh
                                                    viên</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Hôn Nhân - Gia Đình">Hôn Nhân - Gia
                                                    Đình</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Hội LTX">Hội LTX</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Thiếu Nhi Thánh Thể">Thiếu Nhi Thánh
                                                    Thể</a></li>

                                            </ul>
                                        </div>

                                    </li>

                                </ul>
                            </div>

                        </li>

                        <li class="nav-item-mobile"><a class="nav-link" href="list.html" title="Phụng vụ">Phụng vụ</a>

                            <label for="sub-menu-toggler1" class="add"><i class="fa fa-angle-right"
                                                                          aria-hidden="true"></i></label>

                            <div class="box-sub-menu">
                                <div class="title-menu">
                                    <h3 class="title"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Phụng vụ
                                    </h3>
                                </div>

                                <ul class="sub-menu">

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Các thánh
                                        </a>


                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Lịch Phụng vụ
                                        </a>


                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Trực tuyến Thánh Lễ
                                        </a>


                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Dẫn lễ - Lời nguyện
                                        </a>


                                        <label for="sub-menu-toggler1" class="add">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </label>

                                        <div class="box-sub-menu">
                                            <div class="title-menu">
                                                <h3 class="title"><i class="fa fa-arrow-circle-left"
                                                                     aria-hidden="true"></i>Dẫn lễ - Lời nguyện</h3>

                                            </div>
                                            <ul class="sub-menu">

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Mùa Vọng - Giáng Sinh">Mùa Vọng -
                                                    Giáng Sinh</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Mùa Chay - Phục Sinh">Mùa Chay -
                                                    Phục Sinh</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Mùa Thường Niên">Mùa Thường Niên</a>
                                                </li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Ngoại Lịch">Ngoại Lịch</a></li>

                                            </ul>
                                        </div>

                                    </li>

                                </ul>
                            </div>

                        </li>

                        <li class="nav-item-mobile"><a class="nav-link" href="list.html" title="Tin tức">Tin tức</a>

                            <label for="sub-menu-toggler1" class="add"><i class="fa fa-angle-right"
                                                                          aria-hidden="true"></i></label>

                            <div class="box-sub-menu">
                                <div class="title-menu">
                                    <h3 class="title"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Tin tức
                                    </h3>
                                </div>

                                <ul class="sub-menu">

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Tin Giáo Phận
                                        </a>


                                        <label for="sub-menu-toggler1" class="add">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </label>

                                        <div class="box-sub-menu">
                                            <div class="title-menu">
                                                <h3 class="title"><i class="fa fa-arrow-circle-left"
                                                                     aria-hidden="true"></i>Tin Giáo Phận</h3>

                                            </div>
                                            <ul class="sub-menu">

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Mục vụ">Mục vụ</a></li>

                                                <li class="sub-menu-item"><a class="category-item" href="list.html"
                                                                             title="Các sinh hoạt khác">Các sinh hoạt
                                                    khác</a></li>

                                            </ul>
                                        </div>

                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Tin Giáo Hội
                                        </a>


                                    </li>

                                </ul>
                            </div>

                        </li>

                        <li class="nav-item-mobile"><a class="nav-link" href="list.html" title="Hiệp Thông">Hiệp
                            Thông</a>

                            <label for="sub-menu-toggler1" class="add"><i class="fa fa-angle-right"
                                                                          aria-hidden="true"></i></label>

                            <div class="box-sub-menu">
                                <div class="title-menu">
                                    <h3 class="title"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Hiệp
                                        Thông</h3>
                                </div>

                                <ul class="sub-menu">

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Thông báo
                                        </a>


                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Cáo phó
                                        </a>


                                    </li>

                                </ul>
                            </div>

                        </li>

                        <li class="nav-item-mobile"><a class="nav-link" href="list.html" title="Giáo lý">Giáo lý</a>

                            <label for="sub-menu-toggler1" class="add"><i class="fa fa-angle-right"
                                                                          aria-hidden="true"></i></label>

                            <div class="box-sub-menu">
                                <div class="title-menu">
                                    <h3 class="title"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Giáo lý
                                    </h3>
                                </div>

                                <ul class="sub-menu">

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Sinh hoạt Giáo lý
                                        </a>


                                    </li>

                                </ul>
                            </div>

                        </li>

                        <li class="nav-item-mobile"><a class="nav-link" href="list.html" title="Tài Liệu">Tài Liệu</a>

                            <label for="sub-menu-toggler1" class="add"><i class="fa fa-angle-right"
                                                                          aria-hidden="true"></i></label>

                            <div class="box-sub-menu">
                                <div class="title-menu">
                                    <h3 class="title"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Tài Liệu
                                    </h3>
                                </div>

                                <ul class="sub-menu">

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Phụng vụ
                                        </a>


                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Diễn nguyện Giáng Sinh
                                        </a>


                                    </li>

                                </ul>
                            </div>

                        </li>

                        <li class="nav-item-mobile"><a class="nav-link" href="list.html" title="Bác ái xã hội">Bác ái xã
                            hội</a>

                            <label for="sub-menu-toggler1" class="add"><i class="fa fa-angle-right"
                                                                          aria-hidden="true"></i></label>

                            <div class="box-sub-menu">
                                <div class="title-menu">
                                    <h3 class="title"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Bác ái
                                        xã hội</h3>
                                </div>

                                <ul class="sub-menu">

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Giới thiệu Caritas
                                        </a>


                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Quy chế
                                        </a>


                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Các hoạt động
                                        </a>


                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Hội viên
                                        </a>


                                    </li>

                                </ul>
                            </div>

                        </li>

                        <li class="nav-item-mobile"><a class="nav-link" href="list.html" title="Phút Suy tư">Phút Suy
                            tư</a>

                            <label for="sub-menu-toggler1" class="add"><i class="fa fa-angle-right"
                                                                          aria-hidden="true"></i></label>

                            <div class="box-sub-menu">
                                <div class="title-menu">
                                    <h3 class="title"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Phút Suy
                                        tư</h3>
                                </div>

                                <ul class="sub-menu">

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Lẽ Sống
                                        </a>


                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Sống đẹp
                                        </a>


                                    </li>

                                    <li class="sub-menu-item">
                                        <a class="category-item" href="list.html">Nghĩa cử yêu thương
                                        </a>


                                    </li>

                                </ul>
                            </div>

                        </li>

                    </ul>
                </div>
            </nav>
            <ul class="social-bar social-top-bar">
                <li>
                    <a target="_blank" href="https://www.facebook.com/gpthaibinh"><img src="./images/facebook.png"/></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.youtube.com/@giaophanthaibinh1936"><img
                            src="./images/YouTube.webp"/></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="box-search ">
    <div class="search-container container">


        <span>Nhập từ khóa tìm kiếm</span>

        <style type="text/css">

        </style>

        <script>
            (function () {
                var cx = '016610397804290724218:9yu7ixm2byi';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:search></gcse:search>

    </div>
</div>