<div class="home">
    <div class="container">
        <div class="home-category home-category-0">
            <!-- Tin nổi bật trang chủ -->
            <div class="left">
                <div class="container-article-2">
                    <div class="top-news">
                        <div class="box-main">
                            <div class="main-article">
                                <div class="img">
                                    <a href="{href_0}">
                                        <img src="{img_0}"
                                             alt="{html_title_0}"/></a>
                                </div>
                                <h3 class="article-title">
                                    <a href="{href_0}">{title_0}</a>
                                </h3>
                                <p class="MsoNormal">{description_0}</p>
                                <div class="info">
                            <span class="time">
                                <i class="fad fa-clock"></i>{date_0}
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="scroll-article">

                            <div class="list-news">
                                <div class="article-item">
                                    <div>
                                        <a href="{href_1}">
                                            <img src="{img_1}"
                                                 alt="{html_title_1}"/></a>
                                        <a href="{href_1}" class="article-link">{title_1}</a>
                                    </div>
                                    <div>
                                        <a href="{href_2}">
                                            <img src="{img_2}"
                                                 alt="{html_title_2}"/></a>
                                        <a href="{href_2}" class="article-link">{title_2}</a>
                                    </div>
                                    <div>
                                        <a href="{href_3}">
                                            <img src="{img_3}"
                                                 alt="{html_title_3}"/></a>
                                        <a href="{href_3}" class="article-link">{title_3}</a>
                                    </div>
                                    <div>
                                        <a href="{href_4}">
                                            <img src="{img_4}"
                                                 alt="{html_title_4}"/></a>
                                        <a href="{href_4}" class="article-link">{title_4}</a>
                                    </div>
                                    <br class="clear"/>
                                </div>
                                <ul>
                                    <!-- BEGIN Focus -->
                                    <li><a href="{href}" class="article-link"><i
                                            class="far fa-dot-circle"></i>{title}</a></li>
                                    <!-- END Focus -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="right right0">
                <a>
                    <img class="img" src="https://giaophanthaibinh.org/upload/images/banner/SUY%20NI%E1%BB%86M.png"
                         alt=""/></a>
                <div class="sticky0">
                    <div class="container-new-hot">
                        <h4 class="title-c">
                            <i class="fas fa-fire"></i>Tin nổi bật
                        </h4>
                        <div class="article-list">
                            <ul>
                                <!-- BEGIN FocusRight -->
                                <li>
                                    <a href="{href}"
                                       title="{html_title}">
                                        <img src="{img}"
                                             alt="{html_title}"/>
                                    </a>
                                    <p>
                                        <a href="{href}"
                                           title="{html_title}">{title}</a>
                                    </p>
                                    <div class="clear"></div>
                                </li>
                                <!-- END FocusRight -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        {cate_447}
    </div>
</div>

<div class="clear"></div>