ul, p, h1, h2, h3, h4, h5, h6, body, table {
	padding: 0;
	margin: 0	
}
li {
	list-style-type: none	
}
img {
	border: 0	
}
a {
	text-decoration: none;
	outline: none;
	color: #333	
}
a:hover {
	
}
body {
	font-family: "Times New Roman",Times,serif;
    font-size: 15px;
    padding: 10px;
    margin: 0
}
p {
	line-height: 19px;
    padding: 0 0 10px;
    margin: 0
}