html body {
    padding-top: 80px;
    margin-left: 0;
    margin-right: 0;
}

body {
    background-color: #FFF;
    color: #333;
    font-family: "Tahoma", Arial, Serif;
    font-size: 14px;
    line-height: 1.8em;
    margin: 0;
    padding: 13px 0;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #333333;
    text-decoration: underline;
}

h1 {
    font-size: 14px;
    color: #d9251d;
    text-transform: uppercase;
}

h2 {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

h3 {
    margin: 0px;
    padding: 0px;
}

summit, button, input, select, textarea {
    font-family: "Tahoma", Arial, Serif;
    font-size: 100%;
}

textarea {
    padding: 2px 5px;
    border: 1px solid #ccc;
    background: #fff;
}

input[type="text"] {
    padding: 3px !important;
}

#TP_fixed_header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#TP_container {
    background: #f5f5f5 url(../images/tp_bg.gif) repeat-x bottom;
    border-bottom: 3px solid #911e79;
    height: 84px;
    left: -1px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    z-index: 10000;
}

#TP_inner {
    height: 100%;
    margin: 0 auto;
    width: 1100px;
    position: relative;
}

#TP_container a, #TP_container p, #TP_container div, #TP_container span, #TP_container td, #TP_container h4 {
    font-size: 14px;
    text-decoration: none;
    color: #333333;
}

#TP_container a:hover {
    text-decoration: underline;
}

#TP_left_panel {
    width: 266px;
    z-index: 10010;
    padding-top: 10px;
    left: 0px;
}

#TP_feed {
    height: 84px;
    left: 50px;
    padding: 0;
    right: 50px;
}

#TP_right_panel {
    width: 360px;
    right: 0px;
    z-index: 10020;
    text-align: right;
    _padding-top: 10px;
    margin: 0px;
    line-height: normal;
}

.TP_toolbar_item {
    position: absolute;
    top: 0;
}

#TP_container, #TP_feed {
    color: #333333;
}

#TP_feed {
    height: 34px;
    left: 188px;
    padding: 0;
    right: 139px;
}

#menuBar {
    height: 38px;
    left: 0px;
    right: 30px;
    position: absolute;
    top: 55px;
    width: 1100px;
    z-index: 9999;
}

#sub_menuBar {
    width: 1001px;
    position: absolute;
    top: 32px;
    left: 0px;
    z-index: 999;
    background: #e5e5e5;
    padding: 0px;
    line-height: 30px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

#sub_menuBar .active {
    color: #d9251d;
}

#sub_menuBar em {
    float: left;
    font-style: normal;
    font-size: 20px;
    color: #aaa;
}

#navigator {
    float: left;
    width: 100%;
}

#navigator ul {
    float: left;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigator li {
    position: relative;
}

#navigator h3 {
    color: #333;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    display: block;
}

#navigator h3:hover {
    color: #d9251d;
    display: block;
    text-decoration: none;
}

#navigator ul {
    background: #ffff;
    position: relative;
    top: auto;
    z-index: 999;
}

#navigator a {
    display: block;
    padding: 0 10px;
    white-space: nowrap;
    text-decoration: none;
}

#navigator a:hover {
    color: #d9251d !important;
    text-decoration: none;
}

#shell {
    margin: 0 auto;
    text-align: left;
    width: 1100px;
}

#adminBox {
    width: 304px;
    min-height: 200px;
    height: 200px;
    height: auto !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

#adminBox h1 {
    padding: 8px 0px;
    margin: 0px;
}

#adminBox ol {
    margin: 0px;
    padding: 0px 19px;
    _padding: 0px 23px;
    *padding: 0px 23px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: decimal;
    color: #d9251d;
}

#adminBox li {
    padding: 0px 0px 5px 4px;
    _padding: 0px 0px 5px 0px;
    *padding: 0px 0px 5px 0px;
}

.folder {
    width: 100%;
}

.folder, .table {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.table table {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.table table p {
    padding: 3px 5px;
    line-height: normal;
    font-size: 14px;
}

.table td {
    padding: 7px 0px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.folder-content a, .notes a, .folder-content a:hover, .notes a:hover {
    color: #0000cc;
}

.table table span {
    font-size: 14px;
    line-height: normal;
    padding-bottom: 7px;
}

.table table.cke_editor span {
    padding-bottom: 0
}

.folder-header {
    background: url(../images/folder_header_bg.gif) repeat-x bottom;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc
}

.folder-header h1 {
    padding: 0px 10px;
    margin: 10px 0px;
}

.folder-header p {
    padding: 0px 10px 15px 10px;
    line-height: normal;
    margin: 0px;
    margin-top: -5px !important;
}

.folder-title, .table-header {
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: url(../images/table_title_bg.gif) repeat-x bottom;
}

.table-header p {
    position: relative;
}

.table-title {
    font-weight: bold;
    padding: 0px 5px;
    border: 1px solid #ccc;
    background: url(../images/table_title_bg.gif) repeat-x bottom;
}

.folder-content, .table-content {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 15px 10px;
}

.table-content {
    padding: 10px !important;
}

.table-content-left {
    width: 80px;
    float: left;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    padding-top: 7px;
}

.table-content-right {
    width: 860px;
    float: left;
    margin-left: 15px;
    text-align: left;
}

.table-content img {
    border: none;
}

.folder-content p {
    padding: 0px;
    margin: 0px;
    line-height: 20px;
}

.folder-content ul {
    list-style: none;
    list-style-image: inherit;
    list-style-position: outside;
    padding: 0px;
    margin: 0px;
}

.folder-content li {
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

.folder-content label, .folder-content span {
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
}

.folder-content label {
    width: 150px;
}

.folder-content em {
    font-weight: bold;
    font-style: normal;
    color: #d9251d;
}

.folder-content input {
    background: #fff;
    border: 1px solid #ccc;
    padding: 2px 3px;
    height: 22px;
    vertical-align: middle;
}

.folder-content select {
    background: #fff;
    border: 1px solid #ccc;
    padding: 1px;
    vertical-align: middle;
    height: 30px;
}

.folder-content input:hover {
    background: #fff;
    border: 1px solid #ccc;
    padding: 2px 3px;
}

.folder-content .button {
    background: #ddd url(../images/button.gif) repeat-x scroll 0 0;
    background-position: 0 0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    _padding: 4px 0px;
    *padding: 4px 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}

.folder-content .button:hover {
    background: #fff url(../images/navbg.gif) scroll 0 0;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 10px;
    _padding: 4px 0px;
    *padding: 4px 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button-add img, .button-del img {
    vertical-align: middle;
    border: none;
}

.notes {
    padding: 10px;
    border: #e6db55 1px solid;
    background: #ffffe0;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.notes img {
    vertical-align: bottom;
    _vertical-align: middle;
    *vertical-align: middle;
}

.notes p {
    line-height: normal;
    padding: 10px 0px;
    margin: 0px;
}

.notes li {
    background: transparent url(../images/folder_header_icons.gif) no-repeat scroll 0 0;
    background-position: 0 -24px;
    padding-left: 20px;
}

.header-menu {
    height: 26px;
    padding: 0px 10px;
}

.header-menu ul, .notes ul {
    list-style: none;
    list-style-image: inherit;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.header-menu li {
    float: left;
}

.header-menu a {
    padding: 0px 15px;
    line-height: 25px;
    font-weight: bold;
    text-decoration: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #ccc url(../images/header_menu_normal_bg.gif) repeat-x bottom scroll 0 0;
    margin-right: 5px;

    cursor: pointer;
    display: block;
}

.header-menu a:hover, .header-menu-active {
    padding: 0px 15px;
    line-height: 25px;
    font-weight: bold;
    text-decoration: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #ffffff;
    margin-right: 5px;
    cursor: pointer;
}

.header-menu .new-icon span {
    background: transparent url(../images/folder_header_icons.gif) no-repeat;
    background-position: 0 2px;
    padding-left: 20px;
}

.header-menu .list-icon span {
    background: transparent url(../images/folder_header_icons.gif) no-repeat;
    background-position: 0 -11px;
    padding-left: 20px;
}

.header-menu .right-icon span {
    background: transparent url(../images/folder_header_icons.gif) no-repeat;
    background-position: 0 -42px;
    padding-left: 20px;
}

.header-menu .user-icon span {
    background: transparent url(../images/folder_header_icons.gif) no-repeat;
    background-position: 0 -55px;
    padding-left: 20px;
}

.header-menu .protrans-icon span {
    background: transparent url(../images/folder_header_icons.gif) no-repeat;
    background-position: 0 -68px;
    padding-left: 20px;
}

.header-menu .activities-icon span {
    background: transparent url(../images/folder_header_icons.gif) no-repeat;
    background-position: 0 -81px;
    padding-left: 20px;
}

.header-menu .comment-icon span {
    background: transparent url(../images/folder_header_icons.gif) no-repeat;
    background-position: 0 -95px;
    padding-left: 20px;
}

.header-menu #ex {
}

.header-menu #toggle {
    padding: 0;
}

.header-menu .ex-show a {
    background: #fff url(../images/folder_header_icons.gif) no-repeat;
    background-position: 92% -110px;
    padding-right: 30px;
}

.header-menu .ex-show a:hover {
    background: #fff url(../images/folder_header_icons.gif) no-repeat;
    background-position: 92% -131px;
}

.header-menu .ex-hide a {
    background: #fff url(../images/folder_header_icons.gif) no-repeat;
    background-position: 92% -152px;
    padding-right: 30px;
}

.header-menu .ex-hide a:hover {
    background: #fff url(../images/folder_header_icons.gif) no-repeat;
    background-position: 92% -173px;
}

.pages {
    padding: 5px 0px;
    text-align: right;
}

.pages ul {
    list-style-image: inherit;
    list-style-position: outside;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.pages li {
    float: left;
    padding-left: 10px;
}

.pages a {
    padding: 0px 6px;
    background: #fff;
    border: 1px solid #ddd;
    display: block;
    color: #333;
}

.pages a:hover, .pages a.paging-active {
    background: #d9251d;
    border: 1px solid #333;
    color: #fff !important;
    text-decoration: none;
}

.superList {
    padding: 20px 0px;
}

.superList .superList-title {
    background: transparent url(../images/button.gif) repeat-x scroll 0 0;
    background-position: 0 0px;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 4px 10px;
    text-align: left;
    line-height: normal;
}

.superList .superList-content {
    padding: 0px 10px;
}

.superList .superList-content p {
    padding: 5px 0px;
}

.add-supperList {
    background: #fff url(../images/table_title_bg.gif) repeat-x bottom;
    padding: 10px;
    margin: auto;
    width: 400px;
    border: 1px solid #ccc;
}

#footer {
    padding: 5px 0px;
    margin-top: 20px !important;
    text-align: center;
    border-top: 2px solid #999;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mLeft {
    margin-left: 10px;
}

.top {
    margin-top: 10px !important;
}

.bottom {
    padding-bottom: 15px !important;
}

.clear {
    height: 0px important;
    clear: both;
    visibility: hidden;
}

.icon {
    width: 44px;
    height: 44px;
    background: url(../images/icons.gif) no-repeat scroll 0 0;
    border: none;
    margin: 10px;
    display: inline;
}

.listContent {
    width: 230px;
}

.redfont {
    color: #d9251d !important;
}

.greenfont {
    color: #719801 !important;
}

.bluefont {
    color: #0000cc !important;
}

.grayfont {
    color: #999 !important;
}

#blackSheep {
    background: #eee;
    padding: 3px 10px;
    float: left;
}

.bdtop {
    border-top: 1px solid #ccc !important;
}

.bdleft {
    border-left: 1px solid #ccc !important;
}

.bdright {
    border-right: 1px solid #ccc !important;
}

.bdbottom {
    border-bottom: 1px solid #ccc !important;
}

.bg-grey {
    background: #efefef;
}

.heightMin {
    min-height: 50px;
    height: 50px;
    height: auto important;
}

.radio-clear {
    background: none !important;
    border: none !important;
}

.forShell {
    margin-top: 45px !important;
    _padding-top: 45px;
    *padding-top: 45px;
}

.forShellWelcome {
    margin-top: 15px !important;
    _padding-top: 15px;
    *padding-top: 15px;
}

.line {
    background: url(../images/line.gif) repeat-x center;
    clear: both !important;
    height: 1px !important;
    font-size: 1px;
    line-height: 1px;
    padding: 0px;
}

.f18px {
    font-size: 18px;
}

.f11px {
    font-size: 11px;
}

.w160px {
    width: 150px;
    padding-left: 10px;
}

.w160px input {
    margin-bottom: 5px;
}

.w700px {
    width: 700px;
}

.w620px {
    width: 610px;
    padding-left: 10px;
}

.w80px {
    width: 80px;
    overflow: hidden;
    text-align: center;
    padding-top: 7px;
}

.h20px {
    padding: 15px 0px;
}

.add-menu {
    background: url("../images/folder_header_icons.gif") no-repeat scroll 0 2px transparent;
    padding-left: 12px
}

.directory {
    background: url("../images/directory.jpg") no-repeat;
    padding-left: 18px
}

#mask-select {
    background: url("../images/selectbox.gif") no-repeat scroll 0 0 transparent;
    text-align: center;
    width: 150px;
    border: 0px;
    height: 22px;
}

table.cke_editor td {
    border-bottom: 0;
    border-left: 0;
    padding: 0;
}

table.cke_editor td span {
    display: inline;
}