<div style="border:1px solid #CCCCCC; padding:10px;">
	{begin_form}
	<label><strong>Tên đăng nhập</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input   type="text" value="" id="user_name" name="user_name"><br><br/>
	<label><strong>Mật khẩu đăng nhập</strong>&nbsp;</label><input  id="password" type="password" name="password"><br/><br/>
	<label>Đăng nhập trên thiết bị di động<input type="checkbox" value="1" name="mobile"></label><br/>
	<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="submit" value="Đăng nhập" name="Submit"  class="button"/>
	{end_form}	
</div>