		<div class="folder-header">
			<h1>Quản trị danh mục</h1>
			<div class="header-menu">
				<ul>
					<li><a class="header-menu-active user-icon" href=""><span>Người dùng</span></a></li>
					<li><a class="protrans-icon" href=""><span>Sản phẩm - Giao dịch</span></a></li>
					<li><a class="activities-icon" href=""><span>Hoạt động chung</span></a></li>
				</ul>
			</div>
		</div>
		<div class="folder-content">
			<h2>Lọc danh sách</h2>
			<ul>
				<li>
					<label for="name">Lọc Username tác động</label>
					<input type="text" style="width:238px;" />
					<input type="checkbox" class="radio-clear mLeft" />
					<label for="name">Người dùng</label>
				</li>
				<li>
					<label for="name">Lọc nội dung</label>
					<input type="text" style="width:238px;" />
					<input type="checkbox" class="radio-clear mLeft" />
					<label for="name">Ban quản trị</label>
				</li>
				<li>
					<label for="name">Lọc Username bị tác động</label>
					<input type="text" style="width:238px;" />
				</li>
				<li>
					<label for="name">Trong khoảng thời gian</label>
					<label for="name" style="width:auto;">Từ ngày</label>
					<input type="text" style="width:60px;" />
					<label for="name" style="width:auto;">Đến ngày</label>
					<input type="text" style="width:60px;" />
				</li>
				<li><input type="submit" class="button" value="Tìm" style="margin-left:153px; width:50px;" /> <input type="submit" class="button" value="Hủy điều kiện lọc" /></li>
			</ul>
			<div class="line top"></div>
			<h2 class="top">Hành vi tác động đến người dùng</h2>
			<div class="table">
				<table border="0" cellpadding="0" cellspacing="0" width="100%" class="bdbottom">
					<tbody>
						<tr align="center" class="table-title">
							<td width="20%" class="bdtop bdbottom bdleft"><p>Username tác động</p></td>
							<td width="15%" class="bdtop bdbottom bdleft"><p>Thời gian</p></td>
							<td width="30%" class="bdtop bdbottom bdleft"><p>Nội dung</p></td>
							<td width="20%" class="bdtop bdbottom bdleft"><p>Người dùng</p></td>
							<td width="15%" class="bdtop bdright bdbottom bdleft"><p>Thao tác</p></td>
						</tr>
						<tr align="center" valign="top" class="bg-grey heightMin">
							<td width="20%" class="bdleft">
								<p><a href="">tranviet123456789</a></p>
								<p>( Trần Vương Việt 222.222.222.29 )</p>
							</td>
							<td width="15%" class="bdleft"><p>17:45 - 15/07/2009</p></td>
							<td width="30%" class="bdleft"><p>Sửa thông tin người dùng</p></td>
							<td width="20%" class="bdleft"><p><a href="">tranviet123456789</a></p></td>
							<td width="15%" class="bdright bdleft">
								<p><a href="">Xóa</a></p>
								<p><a href="">Theo dõi người này</a></p>
							</td>
						</tr>
						<tr align="center" valign="top" class="heightMin">
							<td width="20%" class="bdleft">
								<p><a href="">tranviet123456789</a></p>
								<p>( Trần Vương Việt 222.222.222.29 )</p>
							</td>
							<td width="15%" class="bdleft"><p>17:45 - 15/07/2009</p></td>
							<td width="30%" class="bdleft"><p>Sửa thông tin người dùng</p></td>
							<td width="20%" class="bdleft"><p><a href="">tranviet123456789</a></p></td>
							<td width="15%" class="bdright bdleft">
								<p><a href="">Xóa</a></p>
								<p><a href="">Theo dõi người này</a></p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="clear"></div>
		</div>