<style>
    th {
        cursor: pointer;
    }
</style>
<div class="folder-content">
    <h2>TÌM KIẾM TIN</h2>
    <ul>
        <li>
            <label for="name">Từ khóa cần tìm</label>
            <input type="text" value="{q}" id="q" name="q" style="width:200px;"/>
            &nbsp;&nbsp;Tên BTV <input type="text" name="user_name" id="user_name" style="width:150px;"
                                       value="{user_name}"/>
        </li>
        <li>
            <label>Ngày tạo từ</label>
            <input type="text" class="date-pick dp-applied" style="width:80px;" id="date_begin" value="{date_begin}"/>
            &nbsp; Ngày tạo đến <input type="text" class="date-pick dp-applied" style="width:80px;" id="date_end"
                                       value="{date_end}"/>
        </li>
        <li>
            <label>Trong mục cha</label>
            <select style="width:120px" id="cate_id">
                <option value="0">Chọn danh mục</option>
                {option_category}
            </select>
        </li>
        <li>
            <label>&nbsp;</label>
            <input type="button" class="button" value="Tìm kiếm" name="Search" onClick="searchNews()">
        </li>
    </ul>
    <div class="line top"></div>
    <div class="clear"></div>
    <div class="table">
        <div style="float:left; margin-top:15px;"><strong>Bạn có <font color="#990000">{total_rowcount}</font> tin đang
            chờ duyệt !</strong></div>
        <div class="pages fr">
            <ul>{paging}</ul>
        </div>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <thead>
            <tr align="center" class="table-title">
                <th width="2%" class="bdtop bdbottom bdleft"><p><input type="checkbox" id="checkboxall"/></p></th>
                <th width="15%" class="bdtop bdbottom bdleft" align="center"><p>Ảnh đại diện</p></th>
                <th width="40%" class="bdtop bdbottom bdleft" align="left"><p>Tên bài</p></th>

                <th width="6%" class="bdtop bdbottom bdleft" align="left"><p>Nguồn</p></th>
                <th width="10%" class="bdtop bdbottom bdleft" align="left"><p>Tên BTV/PV</p></th>
                <th width="10%" class="bdtop bdbottom bdleft" align="center"><p>Ngày tạo/đẩy</p></th>
                <th class="bdtop bdbottom bdleft"><p>Điều khiển</p></th>
            </tr>
            </thead>
            <tbody>
            <!-- BEGIN ListRow -->
            <tr style="background-color:{bg}">
                <td class="bdleft" align="center">{stt}<br/><input type="checkbox" name="checkall" value="{nw_id}"/>
                </td>
                <td class="bdleft" align="center"><p><img src="{src}" width="120px;"></p></td>
                <td class="bdleft">
                    <p><strong><a href="{href}" target="_blank" style="font-size: 15px">{title}</a></strong> (<a onclick="viewContent({nw_id})"
                                                                                         rel="detail-news"
                                                                                         class="show-list"
                                                                                         href="javascript:;">Chi
                        tiết</a>)</p>
                    <p style="color:#993300">Trong mục: {path}</p>
                </td>

                <td class="bdleft" align="left"><p>{origin}</p></td>
                <td class="bdleft" align="left">
                    Người tạo:<span title="Thông tin PV: {created_info}" style="cursor:pointer;font-weight:bolder;">{user_name}</span><br/>
                    Người sửa lần cuối:<span title="Thông tin BTV:{editor_info}"
                                             style="cursor:pointer;font-weight:bolder;">{edit_user_name}</span><br/>
                    {reason_return}
                </td>
                <td class="bdleft" align="left"><p>Tạo: {time_created}<br/>Đẩy:{date_time_push_pendding}</p></td>
                <td class="bdleft" align="left">
                    <p>
                        {function}
                        {property}
                        <!-- Hành động khác: <a href="?app=news&page=admin_news&cmd=news_create&news_id={nw_id}">Sửa</a> | <a href="javascript:;" onclick="delData({nw_id})">Xóa</a> <br/><br/>-->
                        {act_del_edit}
                        <font style="color:#990000">{time_public}</font>
                        <br/>
                    </p>
                </td>
            </tr>
            <!-- END ListRow -->
            </tbody>
        </table>
    </div>

    <div>
        <div style="float:left; margin-top:10px;display:none;">
            <input id="mask-select" type="text" value="Đặt thuộc tính" onclick="showJQ('table-property')"
                   style="cursor:pointer" readonly="readonly"/>
            <table cellpadding="5" cellspacing="2"
                   style=" border:1px solid #CCC; display:none; position:relative; cursor:pointer;" id="table-property">
                <tr>
                    <td style="border-bottom:1px solid #CCC"><strong>Thuộc tính</strong></td>
                    <td style="border-bottom:1px solid #CCC" align="center"><strong>Thiết lập</strong></td>
                    <td style="border-bottom:1px solid #CCC" align="center"><strong style="color:#999999">Hủy
                        bỏ</strong></td>
                </tr>

                <tr>
                    <td>Đẩy lên chờ duyệt</td>
                    <td align="center"><input type="checkbox" value="1" name="censor" id="censor" {f_censor_all}/></td>
                    <td align="center"><input type="checkbox" value="0" name="censor_1" disabled="disabled"/></td>
                </tr>
                <tr>
                    <td>Tin thường mục</td>
                    <td align="center"><input type="checkbox" value="1" name="public" id="public"
                                              {f_censor_public_all}/></td>
                    <td align="center"><input type="checkbox" value="0" name="public_1" disabled="disabled"/></td>
                </tr>
                <!-- BEGIN Property -->
                <tr>
                    <td>{property_desc}</td>
                    <td align="center"><input type="checkbox" value="{property_value}" name="property_{property_value}"
                                              id="{property_setup}" onclick="singleCheckbox(this)"/></td>
                    <td align="center"><input type="checkbox" value="{property_value}" name="property_{property_value}"
                                              id="{property_cancel}" onclick="singleCheckbox(this)"
                                              disabled="disabled"/></td>
                </tr>
                <!-- END Property -->
                <tr>
                    <td></td>
                    <td><input type="button" class="button" value="Thiết lập" onclick="setMultiProperty();"/></td>
                    <td align="center"><input type="button" class="button" name="cancel" value="Đóng"
                                              onclick="hideJQ('table-property')"/></td>
                </tr>
            </table>
        </div>
        <div class="pages fr">
            <ul>{paging}</ul>
        </div>
    </div>
</div>
<div id="detail-news" class="popup-choose"
     style="width:800px; position:relative; margin-top:-120px; margin-left:-160px;">
    <h2 style="padding-left:5px; border-bottom:1px solid #990000" class="jqDnR jqDrag">Nội dung chi tiết tin<label
            class="popup-close button-close"><b>X</b></label></h2>
    <div class="popup-content folder-content" style="border: 1px solid #999999;height:500px; overflow:scroll;"
         id="news-content">Đang tải dữ liệu...
    </div>
</div>
<div id="reason-return" class="popup-choose" style="position:relative; margin-top:-120px;">
    <h2 style="padding-left:5px; border-bottom:1px solid #990000" class="jqDnR jqDrag">Lý do trả về<label
            class="popup-close button-close"><b>X</b></label></h2>
    <textarea cols="85" rows="5" style="background-color:#FFFFFF;" id="reason"></textarea>
    <input type="hidden" value="" name="return_id" id="return_id"/>
    <input type="button" class="button" name="Trả bài" value="Trả bài" onclick="newsReturn()" style="float:right"/>
</div>
<script type="text/javascript">
    $(function () {
        $('#detail-news').jqDrag('.jqDrag');
    })
    $(function () {
        $('#reason-return').jqDrag('.jqDrag');
    })

    function getId(id) {
        $("#return_id").val(id);
    }

    function newsReturn() {

        var reason = $("#reason").val();
        var id = $("#return_id").val();
        if (reason == '' || reason == null)
            return false;
        else {
            $.post("ajax.php?fnc=admin.news.process&path=news",
                {'action': 'news-return', 'nw_id': id, 'reason': reason},
                function (data) {
                    if (data == 1)
                        window.location.reload();
                    else
                        alert('Đã có lỗi xảy ra');

                }
            )
        }
    }

    function viewContent(id) {
        $.post("ajax.php?fnc=admin.news.process&path=news",
            {'action': 'view-content-to-review', 'nw_id': id},
            function (data) {
                $("#news-content").html(data);

            }
        )
    }

    function delData(id) {
        var ok = confirm('Bạn có chắc chắn muốn xóa bài này ra khỏi kho chờ duyệt không?');
        if (ok == true) {
            $.post("ajax.php?fnc=admin.news.process&path=news",
                {'action': 'delete-review', 'nw_id': id},
                function (data) {
                    if (data == 1)
                        window.location.reload();
                    else
                        alert('Đã có lỗi xảy ra');

                }
            )
        }
    }

    /*
        Cài đặt hoặc hủy bỏ tin tiều điểm
    */
    function setProperty(nw_id, set_property, unset_property, obj) {
        $(obj).removeAttr('onclik');
        $(obj).html('<font color="red">Đang xử lý...</font>');
        $.post("ajax.php?fnc=admin.news.process&path=news",
            {
                'action': 'censor-set-property',
                'nw_id': nw_id,
                'set_property': set_property,
                'unset_property': unset_property
            },
            function (data) {

                if (data == 1)
                    window.location.reload();
                else
                    alert('Đã có lỗi xảy ra, Bạn vui lòng kiểm tra lại!');
            }
        )
    }

    function searchNews() {
        var url = '?app=news&page=admin_news&cmd=pending_censor';
        window.location.href = url + '&q=' + $("#q").val() + '&cate_id=' + $("#cate_id option:selected").val() + '&censor_name=' + $("#censor_name").val() + '&date_begin=' + $("#date_begin").val() + '&date_end=' + $("#date_end").val();
    }

    function setMultiProperty() {
        var list_news_id = getChecked('checkall');
        var public = getChecked('public');
        var censor = getChecked('censor');
        $("#table-property").hide();
        if (list_news_id == null || list_news_id == '') {
            alert("Bạn phải chọn ít nhất một tin");
            return false;
        }
        var s = getProperty(1);

        if (s == 0 && (public == '' || public == null) && (censor == '' || censor == null)) {
            alert("Bạn phải chọn thuộc tính cho tin");
            return false;
        }
        $.post("ajax.php?fnc=admin.news.process&path=news",
            {
                'action': 'censor-set-multi-property',
                'list_news_id': list_news_id,
                'set_property': s,
                'censor': censor,
                'public': public
            },
            function (data) {
                if (data == 1)
                    window.location.reload();
                else
                    alert('Đã có lỗi xảy ra, Bạn vui lòng kiểm tra lại!');
            }
        )
    }

    function doCensor(review_id, public, obj) {
        $(obj).removeAttr('onclik');
        $(obj).html('<font color="red">Đang xử lý...</font>');
        $.post("ajax.php?fnc=admin.news.process&path=news",
            {'action': 'do-censor', 'review_id': review_id, 'public': public},
            function (data) {
                //alert(data);
                if (data == 1)
                    window.location.reload();
                else
                    alert('Đã có lỗi xảy ra, Bạn vui lòng kiểm tra lại!');
            }
        )
    }
</script>

