<div class="folder-content">
	<h3>BẢNG THỐNG KÊ  HẰNG NGÀY</h3>
	<div class="line top"></div><div class="clear"></div>
	<div class="table">
		<ul>
			<li style="text-decoration:underline; color:#990000; font-weight:bold;">THÔNG TIN BÀI VIẾT</li>
			<li>- Có <strong>{total_dadang}</strong> tin bài đã được đăng</li>
			<li>- Có <strong>{total_tbt_record}</strong> tin đã được TỔNG BIÊN TẬP duyệt</li>
			<li>- Có <strong>{total_pending_tbt_record}</strong> tin đang chờ TỔNG BIÊN TẬP duyệt</li>
			<li>- Có <strong>{total_truongbanthuky_danhan}</strong> tin bài TRƯỞNG BAN THƯ KÝ đã nhận </li>
			<li>- Có <strong>{total_thukybientap_danhan}</strong> tin bài THƯ KÝ BIÊN TẬP đã nhận </li>
			<li>- Có <strong>{total_truongbanbientap_danhan}</strong> bài TRƯỞNG BAN BIÊN TẬP đã nhận </li>			
			<li>- Có <strong>{total_bientapvien}</strong> tin bài BTV đã nhận</li>
			<li style="text-decoration:underline; color:#990000; font-weight:bold;">THÔNG TIN MAKET</li>
			<li>- Có <strong>{total_maket_duyet}</strong> Maket đã duyệt</li>
			<li>- Có <strong>{total_maket_chuaduyet}</strong> Maket chưa duyệt</li>
			<li>- Có <strong>{total_maket_khongduyet}</strong> Maket không duyệt</li>
		</ul>	
	</div>
</div>