<style>
th
{
	cursor:pointer;
}
</style>
<div class="folder-header">
		<h1>Hệ thống duyệt bài</h1>
		<div class="header-menu">
			<ul>
				<li><a class="{active_xahoi}" href="?app=news&page=congly_censor&src=xahoi.com.vn"><span>Duyệt bài trang XAHOI.COM.VN</span></a></li>
				<li><a class="{active_ngoisao}" href="?app=news&page=congly_censor&src=ngoisao.vn"><span>Duyệt bài trang NGOISAO.VN</span></a></li>
			</ul>
		</div>
	</div>
<div class="folder-content">
	<h2>TÌM KIẾM TIN</h2>
	<ul>				
		<li>
			<label for="name">Từ khóa cần tìm</label>
			<input type="text" value="{q}" id="q" name="q"  style="width:320px;"/>
		</li>
		<li>
			<label>Trong mục cha</label>
			<select style="width:120px" id="cate_id">
				<option value="0">Chọn danh mục</option>
				{option_category}
			</select>&nbsp;&nbsp;
			<select style="width:150px" id="cate_id1">
				<option value="0">Chọn danh mục con</option>
				{option_category1}
			</select>			
		</li>
		<li>
			<label>&nbsp;</label>
			<input type="button" class="button"  value="Tìm kiếm" name="Search" onClick="searchNews()">
		</li>
	</ul>
	<div class="line top"></div><div class="clear"></div>
	<div class="table">
		<div style="float:left; margin-top:15px;"><strong>Bạn có <font color="#990000">{total_rowcount}</font> tin đang chờ xuất  bản !</strong></div>
		<div class="pages fr" ><ul>{paging}</ul></div>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<thead>
				<tr align="center" class="table-title">
				  <th width="3%" class="bdtop bdbottom bdleft"><p><input  type="checkbox" id="checkboxall"/></p></th>
				  <th width="55%" class="bdtop bdbottom bdleft" align="left"><p>Tên bài</p></th>
				  <th width="14%" class="bdtop bdbottom bdleft" align="center"><p>Ảnh đại diện</p></th>
				  <th width="8%" class="bdtop bdbottom bdleft" align="center"><p>Nguồn</p></th>
				  <th width="8%" class="bdtop bdbottom bdleft" align="center"><p>Ngày tạo</p></th>
				  <th  class="bdtop bdbottom bdleft"><p>Điều khiển</p></th>
				</tr>
			</thead>	
				<tbody>
				<!-- BEGIN ListRow -->
					<tr id="nw_{nw_id}">
					  <td class="bdleft" align="center">{stt}<br/><input  type="checkbox" id="checkboxall" name="checkall" value="{nw_id}"/></td>
					  <td class="bdleft">
						<p><strong><a href="{href}" target="_blank">{title}</a></strong></p>
						<p style="color:#993300">Trong mục: {path}</p>
						<p>{description}</p>
						<p><i>Tag: {tag}</i></p>
					  </td>
					  <td class="bdleft" align="center"><p><img src="{src}" width="120px;"></p></td>
					   <td class="bdleft" align="center"><p>{origin}</p></td>
					  <td class="bdleft" align="center"><p>{time_created}</p></td>
					  <td class="bdleft" align="left">
					  	<p>
							<a href="javascript:;" onclick="doGetNews({nw_id},'{src_site}',this)">Duyệt tin</a><br/><br/>
							<select id="cate_{nw_id}">
								<option value="0">Chọn DM</option>
								{cate_site_option}
							</select>
						</p>
					</td>
					</tr>
				<!-- END ListRow -->
				
			</tbody>
	  </table>
	</div>
	<div>
	<div class="pages fr" ><ul>{paging}</ul></div>
	</div>
</div>
<script type="text/javascript">
	function getId(id)
	{
		$("#return_id").val(id);
	}
	function getIdCensor(id)
	{
		$("#return_id_censor").val(id);
	}
	function doGetNews(nw_id,src,obj)
	{
		if($("#cate_"+nw_id+" option:selected").val()=="0")
		{
			alert('Bạn chưa chọn danh mục');
			return false
		}
		$(obj).removeAttr('onclik');
		$(obj).html('<font color="red">Đang xử lý...</font>');
		$.post("ajax.php?fnc=get.news.process&path=news",
			{'action':'get_news','src':src,'nw_id':nw_id,'cate_id':$("#cate_"+nw_id+" option:selected").val()},
			function(data)
			{
				if (data == 1) {
					$("#nw_" + nw_id).hide();
				}
				else {
					alert(data);
					alert('Đã có lỗi xảy ra, Bạn vui lòng kiểm tra lại!');
				}	
			}			
		)
	}
	
	function searchNews()
	{
		var url='?app=news&page=congly_censor&src={src_site}';
		window.location.href=url+'&q='+$("#q").val() + '&cate_id='+$("#cate_id option:selected").val()+ '&cate_id1='+$("#cate_id1 option:selected").val();
	}
	function deleteData(id)
	{
			var ok=confirm("Bạn có chắc chắn muốn xóa tin bài này ra khỏi kho không?");
			if (ok == true) 
			{
				$.post("ajax.php?fnc=admin.news.process&path=news", {
					'action': 'delete-from-store',
					'nw_id': id
				}, function(data){
				
					window.location.reload();
				});
			}
	}
	
</script>