<div class="folder-header">
	<h1>{main_title}</h1>
	<div class="header-menu">
		<ul>
			<li><a id="category" class="header-menu-active user-icon" href="javascript:void(0);"><span>Danh sách biên tập viên</span></a></li>
			<li><a class="protrans-icon" href="?app=news&page=admin_news_statistic&cmd=advan"><span>Thống kê nâng cao</span></a></li>
		</ul>
	</div>
</div>
<div class="folder-content">	
	<div class="table">
		<p style="font-weight:bold; font-style:italic; padding:0 0 20px 0;">Tổng số bài trong kho:{total_record}</p>		
		
		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="bdbottom">
			<tbody>
				<tr align="center" class="table-title">
					<td width="5%" class="bdtop bdbottom bdleft"><p>STT</p></td>
					<td width="20%" class="bdtop bdbottom bdleft title"><p>Họ và tên</p></td>
					<td width="15%" class="bdtop bdbottom bdleft title"><p>Username</p></td>
					<td width="20%" class="bdtop bdbottom bdleft title"><p>Phone</p></td>
					<td width="30%" class="bdtop bdbottom bdleft title"><p>Email</p></td>
					<td width="10%" class="bdtop"><p>Tổng bài viết</p></td>
				</tr>
				
				<!-- BEGIN LIST -->
				<tr align="center" class="table">
					<td width="5%" class="bdleft"><p><b>{count}</b></p></td>
					<td width="20%" class="bdleft rows">
						<p>
							<a href="?app=news&page=admin_news_statistic&cmd=detail&uid={id}">
								{fullname}
							</a>
						</p>
					</td>
					<td width="15%" class="bdleft rows"><p>{user_name}</p></td>
					<td width="20%" class="bdleft rows"><p>{phone}</p></td>
					<td width="30%" class="bdleft rows"><p>{email}</p></td>
					<td width="10%" class="bdleft"><p><b>{total}</b></p></td>
				</tr>			
				<!-- END LIST -->	
				
			</tbody>
		</table>			
		<div style="clear:both;"></div>
		<div id="wChart">		
			<h1>Biểu đồ thống kê</h1>
			
			<div class="jqplot-target" id="chart1">
				<p>Biểu đồ thống kê Loại tin</p>
			</div>		
					
			<div class="jqplot-target" id="chart2">
				<p>Biểu đồ thống kê Loại bài</p>
			</div>				
					
		</div>
		
	</div>
	<div class="clear"></div>
</div>

<script class="code" type="text/javascript">
$.noConflict();
jQuery(function($){
	//
	$(".table:odd").css("background-color", "#eeffff");
	
	var arr_color = new Array();
	arr_color['tin_anh'] 		= '#FF0000';
	arr_color['tin_video'] 		= '#990000';
	arr_color['tin_ttx'] 		= '#579575';
	arr_color['tin_tong_hop'] 	= '#579575';
	arr_color['tin_dich'] 		= '#c5b47f';
	arr_color['tin_tu_viet'] 	= '#990000';
	arr_color['tin_suu_tam'] 	= '#4bb2c5';
	
	// loai tin
	var data1 = [
					['Tin video (<b>{total_type_video}</b>)'	, {total_type_video}],
					['Tin ảnh (<b>{total_type_img}</b>)'		, {total_type_img}],						 
					['Tin thường (<b>{total_type_normal}</b>)'	, {total_type_normal}]
				];
				
	var plot1 = $.jqplot ('chart1', [data1], 
	{ 
		seriesDefaults: {
			// Make this a pie chart.
			renderer: $.jqplot.PieRenderer, 
			rendererOptions: {
				// Put data labels on the pie slices.
				// By default, labels show the percentage of the slice.
				showDataLabels	: true,
				seriesColors: [ arr_color['tin_video'], arr_color['tin_anh']]					
			}
		}, 
			legend: { show:true, location: 'e' }
		}

	);
	
	//$('#chart1 .jqplot-table-legend tbody tr:eq(1) td:eq(0)').find('.jqplot-table-legend-swatch').css("background-color", "#FF0000");
	
	
	// loai bai
	var data2 = [
					['Bài sưu tầm (<b>{total_type_sutam}</b>)'		, {total_type_sutam}],
					['Bài tự viết (<b>{total_type_tuviet}</b>)'		, {total_type_tuviet}], 
					['Bài dịch (<b>{total_type_dich}</b>)'			, {total_type_dich}],
					['Bài tổng hợp (<b>{total_type_tonghop}</b>)'	, {total_type_tonghop}],
					['Bài thông tấn xã (<b>{total_type_ttx}</b>)'	, {total_type_ttx}]
				];
				
	var plot2 = $.jqplot ('chart2', [data2], 
	{ 
		seriesDefaults: {
			// Make this a pie chart.
			renderer: $.jqplot.PieRenderer, 
			rendererOptions: {
				// Put data labels on the pie slices.
				// By default, labels show the percentage of the slice.
				showDataLabels: true,
				seriesColors: [ arr_color['tin_suu_tam'], arr_color['tin_tu_viet'] , 
								arr_color['tin_dich'], arr_color['tin_tong_hop'], arr_color['tin_ttx']]
			}
		}, 
			legend: { show:true, location: 'e' }
		}
	);
	
	

});
</script>