<div class="folder-header">
	<h1>Trang giải trí</h1>
	<div class="header-menu">
		<ul>
			<li><a class="user-icon" href="?app=news&page=admin_news_category"><span>Danh sách danh mục</span></a></li>					
			<li><a class="protrans-icon" href="?app=news&page=admin_category_property"><span>Thuộc tính</span></a></li>
			<li><a class="activities-icon" href="?app=news&page=admin_category_configuration"><span>Cấu hình danh mục</span></a></li>
			<li><a class="activities-icon " href="?app=news&page=admin_entertainment_configuration"><span>Giải trí</span></a></li>
			<li><a class="activities-icon " href="?app=news&page=admin_football_configuration"><span>Bóng đá</span></a></li>
			<li><a class="activities-icon header-menu-active" href="?app=news&page=admin_region_config"><span>Tin trong vùng</span></a></li>
		</ul>
	</div>
</div>
<div class="folder-content">			
	<div class="line top"></div>	
	<h2>Tìm kiếm</h2>			
	<ul>
	<li>
		<label for="name">Chọn danh mục</label>
			<select name="cate" id="cate" style="width:250px;"><option value="0">Chọn Danh Mục</option>{option_cate}</select>
		</li>
		<li>
			<label for="name">Chọn vùng</label>
			<select name="region" id="region" style="width:250px;"><option value="0">Chọn Vùng</option>{option_region}</select>
		</li>				
		<li><label for="name">&nbsp;</label><input type="button" class="button" value="Tin trong vùng" id="search_region"></li>
	</ul>
	{begin_form}
	<div class="table">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="bdbottom">		
			<tbody>			    
				<tr align="center" class="table-title">
					<td width="15%" class="bdtop bdbottom bdleft" style="text-align:left"><p>Vị trí</p></td>
					<td width="85%" class="bdtop bdbottom bdleft" style="text-align:left"><p>Tên bài viết</p></td>
				</tr>			
				<!-- BEGIN SLIDE -->	
				<tr align="center" valign="top" class="{bg} heightMin">
					<td class="bdleft"><input type="text" name="arrage[{id}]" value="{arrage}"></td>
					<td class="bdleft" style="text-align:left"><p><b>{title}</b></p></td>										
				</tr>
			    <!-- END SLIDE -->
			</tbody>
		</table>		
	</div>
	<br>
	<input type="submit" class="button" value="Cập nhật" style="margin-left:153px; width:70px;" />
		<input type="reset" class="button" value="Hủy bỏ" />
	{end_form}
	<div class="clear"></div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#search_region").click(function(){
		if($("#cate").val() != null && $("#cate option:selected").val() != 0)
			window.location.href = "?app=news&page=admin_region_config&cate_id="+$("#cate option:selected").val()+"&region_id="+$("#region option:selected").val();
	});
	$("#cate").change(function(){
		$.ajax({
            url: 'ajax.php?path=news&fnc=get_region&cate_id='+$("#cate option:selected").val(),
            type:'GET',
            dataType:'json',            
            success:function(data)
            {
            	if(data.code == 1)
            	{
            		$("#region").html(data.html);
            	}
            },
            timeout:function(){}
        });
	});
});
</script>