<style>
	.input_register{
		width:150px;
	}	
</style>
<form  id="registerForm" >
<table class="table-form" id="register-content">
    <tr>
        <td class="label">Mật khẩu cũ:</td>
        <td class="form-element"><input id="old_password" name="old_password"  type="password" class="input_register"/></td>
    </tr>
    <tr>
        <td class="label">Mật khẩu mới:</td>
        <td class="form-element"><input id="password" name="password" type="password" class="input_register"/></td>
    </tr>
    <tr>
        <td class="label">Xác nhận mật khẩu:</td>
        <td class="form-element"><input id="verifyPassword" name="verify_password" type="password" class="input_register"/></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" class="bds-button" value="Đồng ý" name="submit">
        </td>
    </tr>
</table>
</form>

<script>
	$("#registerForm").submit(function(){
		var value = $(this).serialize();
		$.post("ajax.php?fnc=change_password&path=user&cmd=submit",
			value,
			function(data)
			{
				if(data != 1){
					alert(data);
					return false;
				}
				else
				{
					alert('Bạn đã đổi mật khẩu thành công');
					location.reload();
					return false;
				}
			}			
		);	
		return false;
	});

</script>