<style>
	.input_register{
		width:220px;
	}	
</style>
<form  id="registerForm" ><br />
<table class="table-form" id="register-content">
    <tr>
        <td class="label">Địa chỉ email của bạn:</td>
        <td class="form-element"><input id="email" name="email"  type="text" class="input_register"/></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" class="bds-button" value="Lấy lại mật khẩu" name="submit">
        </td>
    </tr>
</table>
</form>

<script>
	$("#registerForm").submit(function(){
		var email = $("#email").val();
		$.post("ajax.php?fnc=forgot_password&path=user&cmd=submit",
			{'email':email},
			function(data)
			{
				if(data != 1){
					alert(data);
					return false;
				}
				else
				{
					alert('Xahoi.com.vn đã gửi mail lấy lại mật khẩu đến "'+email+'" thành công! (Nếu trong hộp mail Inbox không có, bạn vui lòng kiểm tra thêm trong hộp mail spam/bulk mail)');
					self.parent.tb_remove();
					return false;
				}
			}			
		);	
		return false;
	});

</script>